/* Global styles */
body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #333;
}

header {
    background-color: rgba(0, 0, 0, 0.86);
    color: #333;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #A29592;
    text-transform: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* Center the nav items horizontally */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
    /* Remove margin for the last item */
}

/* Style for anchor tags in the navigation menu */
nav ul li a {
    text-decoration: none;
    color: #A29592;
    padding: 10px 15px;
}

/* Page-specific styles */
section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.larger-heading {
    font-size: 1.5em;
}

.content {
    width: 100%;
}

.image {
    width: 100%;
    margin-bottom: 20px;
}

.image1 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.image2 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.clearfix {
    clear: both;
}

/* Media query for smaller screens (phones) */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .larger-heading {
        font-size: 1.2em;
    }

    .image,
    .image1,
    .image2 {
        width: 100%;
    }
}