#about-me-section {
    flex: 1;
    text-align: left;
    font-weight: lighter;
    min-height: 80vh;
    margin: 20px;
    padding: 0;
}

#about-me-section h2 {
    text-align: left;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#skills-section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 1s forwards;
}

#about-me-section h2::after {
    width: 14%;
}


.about-main {
    margin-top: 40px;
    max-width: 100%;
}


#about-me-section {
    display: flex;
    text-align: left;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 20px;
    padding: 0;
}

#about-me-section p {
    font-size: 14px;
    color: grey;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
}


.left-container {
    flex: 1;
    text-align: left;
    opacity: 0;

    animation: slideInLeft 2s forwards;
}

.right-container {
    flex: 2;
    padding: 0 80px;
    opacity: 0;
    max-width: 100%;
    animation: slideInRight 2s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.right-container p {
    margin-bottom: 20px;
}

.about-image {
    max-width: 100%;
    height: auto;
}



.sections-container {
    display: flex;
}


#image-section {
    flex: 1;
    width: 50%;
    margin-right: 100px;
}

#aboutImage {
    width: 250px;
    height: auto;
}

#skill-label {
    font-size: 18px;
    font-weight: bold;
}


.skill-box {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-box h3 {
    margin-top: 0;
}

.skill-box p {
    margin-bottom: 0;
}


.scroll-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9a1cad;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: #0056b3;
}

.scroll-button:focus {
    outline: none;
}

.scroll-button:active {
    transform: scale(0.95);
}

.scroll-button button:hover {
    background-color: #0056b3;
}