/* CSS specific to the about.html page */
#about-me-section {
    flex: 1;
    text-align: left;
    font-weight: lighter;
    min-height: 80vh;
    margin: 20px;
    padding: 0;
}

#about-me-section h2 {
    text-align: left;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#about-me-section h2::after {
    width: 14%;
}

.about-main {
    margin-top: 40px;
    max-width: 1250px;
}


#about-me-section {
    display: flex;
    text-align: left;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 20px;
    padding: 0;
}

#about-me-section p {
    font-size: 14px;
    color: grey;
}

.sections-container {
    display: flex;
}


#image-section {
    flex: 1;
    width: 50%;
    margin-right: 100px;
}

#aboutImage {
    width: 250px;
    height: auto;
}

.content1 {
    opacity: 0;
    /* Initially hide the content */
    animation: fadeIn 2s ease forwards;
    /* Apply animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
        /* Move content upward */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Bring content to its original position */
    }
}