#about-me-section h2::after {
    width: 14%;
}

#about-me-section h2 {
    color: var(--first-color);
}

#about-me-section p {
    font-size: 14px;
    color: grey;
}

.about-container {
    display: flex;
    margin: 5%;
    transition: all 2s;
}

.left-container {
    flex: 1;
    text-align: left;
    /*opacity: 0;*/
    /*animation: slideInLeft 2s forwards;*/
}

.right-container {
    flex: 2;
    padding: 0 80px;
    /*opacity: 0;*/
    max-width: 100%;
    /*animation: slideInRight 2s forwards;*/
}

/*@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}*/

.right-container p {
    margin-bottom: 20px;
    font-size: 20px;
}

.about-image {
    max-width: 100%;
    height: auto;
}

#image-section {
    flex: 1;
    width: 50%;
    margin-right: 100px;
}

#aboutImage {
    width: 100px;
    height: auto;
}

#skill-label {
    font-size: 18px;
    font-weight: bold;
}


.logo {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h3 {
    margin-top: 0;
}

.logo p {
    margin-bottom: 0;
}

@media(prefer-reduced-motion) {
    .section {
        transition: none;
    }
}

.section {
    opacity: 1;
    filter: blur(5px);
    /*transform: translateX(-100%);*/
    /*transition: all 2s;*/
    background-color: #f5f5f5;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.logos {
    display: flex;
}

.logo {
    margin-right: 40px;

}

/*.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400s;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}*/