#projects-section ul li {
    display: flex;
    text-align: left;
    line-height: 2;
}

#projects-section h2::after {
    width: 17%;
}

#projects-section body {
    z-index: 1;
}


#projects-section h3 {
    all: initial;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

#projects-section p {
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    color: grey;
}

#projects-section p img {
    width: 300px;
    height: auto;
    margin-top: 10px;
}

#contact-section {
    margin-left: 40px;
}

#contact-section ul {
    line-height: 3;
    text-decoration: bold;
    font-weight: bolder;
}

#contact-section ul p {
    font-style: italic;
}

#contact-section h2::after {
    width: 25%;
}

.content-container {
    padding-bottom: 60px;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}

.project-main {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.content-container {
    display: flex;
}


.project-main>section {
    flex: 1;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .project-main>section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}