#projects-section {
    background-color: #f5f5f5;
    overflow-y: auto;
    /* Allows vertical scrolling only if needed */
    overflow-x: hidden;
    /* Hides horizontal scroll (optional) */
}

#projects-section ul li {
    display: flex;
    text-align: left;
    line-height: 2;
}

.overall-container {
    overflow-y: auto;
    /* Allows vertical scrolling only if needed */
    overflow-x: hidden;
    /* Hides horizontal scroll (optional) */
}

#projects-section h2::after {
    width: 17%;
}

#projects-section h3 {
    all: initial;
    font-size: 24px;
}

#projects-section p {
    font-size: 14px;
}

#contact-section {
    margin-left: 40px;
}


.content-container {
    padding-bottom: 60px;
    overflow-y: auto;
    height: 80vh;
    box-sizing: border-box;
}

.project-main {
    margin-top: 100px;
}

.content-container {
    display: flex;
}


@media only screen and (max-width: 600px) {
    .project-main>section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

#contact-section button {
    background-color: #443e3daa;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-section button:hover {
    background-color: #764ba2;
}


.skills-used {
    background-color: #e0e0e0;
    margin-top: 10px;
    width: auto;
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 3px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}

.project-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
}

.project-item h3 {
    font-family: 'Poppins', sans-serif;
}

.project-item img {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    background-color: #0d47a1;
    color: #fff;
    padding: 0.75rem;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.2rem;
    margin-left: 0.25rem;
    transition: 0.3s;
}

.button--white {
    background-color: #fff;
    color: var(--first-color);
}

.button--white:hover {
    background-color: #fff;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: 0.5rem 0.75rem;
}

.portfolio__button:hover .button__icon {
    transform: translateX(0.25rem);
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}